<div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Teachers</b>
            <br />
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br />
            <%= link_to 'My Dashboard', dashboard_path %>
          </div>
          <div class="col-12 col-sm-3">
            <b>About</b>
            <br />
            <%= link_to 'Team', '#' %>
            <br />
            <%= link_to 'Careers', '#' %>
            <br />
            <%= link_to 'Privacy Policy', privacy_path %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            jp.james0927@gmail.com
            <br />
            Nashville Tn, 37214
          </div>
          <div class="col-12 col-sm-3 social">
            <b>Social</b>
            <br />
            <br />
            <%= link_to 'https://github.com/jpjames1322' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to "https://twitter.com/dr_phil__" do %>
              <span class="fa fa-twitter-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>